h1 {
    text-align: center;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 100px;
    text-transform: uppercase;
padding-left: 35%; border-radius: 3px;

}
div>h1{text-align: center;}
div {
    display: inline-block;
    text-align: center;
    letter-spacing: 20%;

}

.card {
    width: 18%;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
    height: 250px;
    background-color: aliceblue;
    word-spacing: 18%;
    text-indent: 10px;background-color:white;
}
.card>h2{text-transform: uppercase;}
img {
    width: 50px;
}.card>button{border-radius: 50px;width: 140px;height: 50px
    ;background-color: black;color: white;text-transform: uppercase;}